p{
    font-family: monospace;
    font-size: 25px;
    font-family: 'Ubuntu Mono', 'sans-serif', monospace;
}

h1{
    font-family: 'Cutive Mono', 'Arial', monospace;
    margin: 45px auto 200px auto;
    width: 50%;
    border: 2px solid;
}